@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark : rgba(255,255,255,0);
  --primary-green : rgb(82, 221, 209); 
  --normal-font-size : 1.2rem;
  --normal-font : 'Nunito Sans', sans-serif;
}


.navi-link{
  text-transform: uppercase;
  margin-left: 0.75rem;
  margin-right: 0.75rem; 
  color: var(--primary-white) !important;
}

.navbar-brand{
  color: var(--primary-white) !important; 
}

.navbar-toggler{
  background-color: white;
}


.typed-text{
  font-size: 0.75rem;
}

.section-title{
  text-align: center;
  margin-bottom: 20px;
}


.img_logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-photo{
  width: 60%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile_description{
  text-align: justify;
  font-family: var(--normal-font);
  font-size: var(--normal-font-size);
}

.photo_description{
  text-align: center;
}

.education_description p{
  padding-left: 60px;
  font-size: var(--normal-font-size);

}

.achievement_description p{
  padding-left: 60px;
  font-size: var(--normal-font-size);

}

.experience_descrtiption p{
  padding-left: 60px;
  font-size: var(--normal-font-size);
}

.experience_detail{
  padding-left: 5px;
  
}

.info-box{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 60px;
  background-color: white;
  font-family: var(--normal-font); 
}

.skills{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem; 
}

.achievement_description{
  font-family: var(--normal-font); 
  font-size: 1.2rem; 
}